.color-Bp, .color-Bp:hover, .color-Bp:active  //Color-Background-Primary
  background-color: $color-primary !important

.color-Bp-light, .color-Bp-light:hover, .color-Bp-light:active //Color-Background-Primary-Light
  background-color: $color-primary-light !important

.color-Tp //Color-Text-Primary
  color: $color-primary !important

.color-Ts //Color-Text-Secondary
  color: $color-secondary !important

.color-Ts-dark //Color-Text-Secondary-Dark
  color: $color-secondary-dark !important

.color-Tp-light //Color-Text-Primary-Light
  color: $color-primary-light !important

.ErrColor
  background-color: $ErrColor !important

.InfoColor
  background-color: $color-primary-light !important

.SuccColor
  background-color: $SuccColor !important
