// Components
@import components/header
@import components/footer

// Pages
@import pages/home

// Global Sass

body
  display: flex
  min-height: 100vh
  flex-direction: column
  font-family: "Titillium Web", sans-serif

main
  flex: 1 0 auto
  text-align: center

#push
  padding-bottom: 50px