// Variables
@import variables

// Colors
@import colors

// Components
@import components/header
@import components/footer

// Pages
@import pages/home
@import pages/account
@import pages/mangaform
@import pages/mangas

// Global Sass
body
  display: flex
  min-height: 100vh
  flex-direction: column
  font-family: "Roboto", sans-serif

main
  flex: 1 0 auto

.push
  padding-bottom: 50px

input:focus
  border-bottom: 1px solid $color-primary !important
  box-shadow: 0 1px 0 0 $color-primary !important

input:focus label
  color: $color-primary !important

.input-field .prefix.active
  color: $color-primary !important
