extends layout
block content
      .area
        p Please note that for the best experience, you should try and fill as much information as you can.
        p For the thumbnails, try to use an image link with https to avoid serving mixed content.
        p This is to protect your info from attacks by making the app less secure.
      .area.main
        h1 Create a New Manga
        form(role='form', method='POST', name='createManga', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-tag
              input.form-control(type='text', name='title', placeholder='Title *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-user
              input.form-control(type='text', name='author', placeholder='Author *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-link
              input.form-control(type='text', name='url', placeholder='URL *', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-bookmark
              input.form-control(type='text', name='chapter', placeholder='Chapter *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-globe
              input.form-control(type='text', name='type', placeholder='Manga Origin *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-list
              input.form-control(type='text', name='categories', placeholder='Categories *', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-picture
              input.form-control(type='text', name='thumbnail', placeholder='Thumbnail *', style="width: 20em;", aria-describedby='basic-addon1')
              img.img-thumbnail(src='cinqueterre.jpg', alt='Cinque Terre', width='304', height='236')
          .field-wrap
            .form-group.input-group
              span#basic-addon2.input-group-addon
                span.glyphicon.glyphicon-stats
              input.form-control(type='password', name='userStatus', placeholder='Reading Status *', aria-describedby='basic-addon2', autocomplete='off')
              span#basic-addon2.input-group-addon
                span.glyphicon.glyphicon-stats
              input.form-control(type='password', name='seriesStatus', placeholder='Series Status *', aria-describedby='basic-addon2', ,='', autocomplete='off')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-list
              input.form-control(type='text', name='altName', placeholder='Alternate names *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-resize-horizontal
              input.form-control(type='text', name='direction', placeholder='Reading Direction *', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
            span#basic-addon1.input-group-addon
              span.glyphicon.glyphicon-pencil
            textarea.form-control(rows='5', name='plot', placeholder='Story Plot *', aria-describedby='basic-addon1')
          button.button.button-block.btn.btn-danger(type='button') Create
      section#push