extends layout
block content
  .container
    h1.center-align Are you sure you want to proceed?
    form(role='form', method='POST', name='deleteUser', accept-charset='UTF-8',
    enctype='application/x-www-form-urlencoded', autocomplete='off')
      .input-field
        i.material-icons.prefix contacts
        input#icon_prefix.validate.short(type='text', aria-describedby='basic-addon1', autocomplete='off' required)
        label(for='icon_prefix') Comfirm Username
      .center-align
        button.btn.blue.darken-1(type='submit') Delete Account