extends layout
block content
    .container
      .form.main
        h2.center-align #{header}
        ul.center-align
          li
            p#blue (Update only)
            |  To update any piece of information just fill in the particular field.
          li
            p#blue (Update only)
            |  Whatever information is left blank will retain the old information.
          li Usernames are lowercase internally. Passwords are case sensitive.
        form(role='form', method='POST', name='updateUser', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
          .field-wrap
            .form-group.input-group
              .input-field.col.s6
                i.material-icons.prefix perm_contact_calendar
                input#icon_prefix.validate(type='text', aria-describedby='basic-addon1', autocomplete='off')
                label(for='icon_prefix') First Name

              .input-field.col.s6
                i.material-icons.prefix perm_contact_calendar
                input#icon_prefix.validate(type='text', aria-describedby='basic-addon1', autocomplete='off')
                label(for='icon_prefix') Last Name
          .field-wrap
            .form-group.input-group
              .input-field.col.s6
                i.material-icons.prefix person
                input#icon_prefix.validate(type='text', name='username' aria-describedby='basic-addon1', autocomplete='off')
                label(for='icon_prefix') Username
              .input-field.col.s6
                i.material-icons.prefix email
                input#icon_prefix.validate(type='text', name='email' aria-describedby='basic-addon1', autocomplete='off')
                label(for='icon_prefix') E-mail
          .field-wrap
            .form-group.input-group
              .input-field.col.s6
                i.material-icons.prefix https
                input#icon_prefix.validate(type='password', name='password' aria-describedby='basic-addon2', autocomplete='off')
                label(for='icon_prefix') Password
              .input-field.col.s6
                i.material-icons.prefix https
                input#icon_prefix.validate(type='password', name='password' aria-describedby='basic-addon2', autocomplete='off')
                label(for='icon_prefix') Re-type Password
          br
          button.btn.blue.darken-1(type='submit') #{button}

        div#push