extends layout
block content
      main.container
        h1.center-align #{header}
        ul.center-align
          li (Update only) To update any piece of information just fill in the particular field.
          li (Update only) Whatever information is left blank will retain the old information.
          li Avoid using images url over http as it will serve mixed content which lowers the security of your session.
          li Please note that for the best experience, you should try and fill as much information as you can.
        br
        form(role='form', method='POST', name='editManga', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
          .field-wrap
            .form-group.input-group
              div.col-xs-12.col-md-4(style="display: inherit;")
                span#basic-addon1.input-group-addon
                  span.glyphicon.glyphicon-tag
                input.form-control(type='text', name='title', placeholder='Title *', aria-describedby='basic-addon1', size='100')
              div.col-xs-12.col-md-4(style="display: inherit;")
                span#basic-addon1.input-group-addon
                  span.glyphicon.glyphicon-user
                input.form-control(type='text', name='author', placeholder='Author *', aria-describedby='basic-addon1', size='100')
              div.col-xs-12.col-md-4(style="display: inherit;")
                span#basic-addon1.input-group-addon
                  span.glyphicon.glyphicon-link
                input.form-control(type='text', name='url', placeholder='URL *', aria-describedby='basic-addon1', size='100')
          .field-wrap
            .form-group.input-group
              div.col-xs-12.col-md-4(style="display: inherit;")
                span#basic-addon1.input-group-addon
                  span.glyphicon.glyphicon-bookmark
                input.form-control(type='text', name='chapter', placeholder='Chapter *', aria-describedby='basic-addon1', size='100')
              div.col-xs-12.col-md-4(style="display: inherit;")
                span#basic-addon1.input-group-addon
                  span.glyphicon.glyphicon-globe
                input.form-control(type='text', name='type', placeholder='Manga Ethnicity *', aria-describedby='basic-addon1', size='100')
              div.col-xs-12.col-md-4(style="display: inherit;")
                span#basic-addon1.input-group-addon
                  span.glyphicon.glyphicon-list
                input.form-control(type='text', name='categories', placeholder='Categories *', aria-describedby='basic-addon1', size='100')
          .field-wrap
            .form-group.input-group
              span#basic-addon2.input-group-addon
                span.glyphicon.glyphicon-stats
              label.col-xs-12.col-md-4(for='userStatus') Reading Status
              select#userStatus.form-control(name='userStatus')
                option(value="finished") Finished
                option(value="reading", selected="selected") Reading
                option(value="will read") Will Read
              label.col-xs-12.col-md-4(for='seriesStatus') Series Status
              select#seriesStatus.form-control(name='seriesStatus')
                option(value="ongoing", selected="selected") Ongoing
                option(value="completed") Completed
              label.col-xs-12.col-md-4(for='direction') Reading Direction
              select#direction.form-control(name='direction')
                option(value="right to left", selected="selected") Right to Left
                option(value="left to right") Left to Right
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-list
              input.form-control.col-xs-12.col-md-4(type='text', name='altName', placeholder='Alternate names', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-pencil
              textarea.form-control.col-xs-12.col-md-4(rows='12', name='plot', placeholder='Story Plot *', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-picture
              .img-responsive.img-thumbnail.img-container
                input.form-control.col-xs-12(id='img-input', type='text', name='thumbnail', placeholder='Thumbnail *', aria-describedby='basic-addon1')
                br
                .col-xs-12.col-xs-12.col-md-4
                img.col-xs-12.col-xs-12.col-md-4(id='img', src='../../images/kaneki1.jpg', alt='Manga Preview', name='img', height='250')
                .col-xs-12.col-xs-12.col-md-4
            .form-group.input-group
          button.button.button-block.btn.btn-danger(type='submit') #{button}
      section#push