extends layout
block content
  .err
    h1(style="color:red;")= message
      h2(style="text-align:center; color:red;")= error.status
    .container
      p(style="text-align:center; color:red;") There is nothign to see here, go back while you can, there are ghouls around this area.

