footer.page-footer.center-align.light-blue.darken-4
  .container
    .row
      .col.l6.s12
        h5.color-Ts About the Site
        p.color-Ts
          | The Project is divided in two parts, the&nbsp;
          a.color-Ts-dark(href='https://github.com/Rafase282/mangadb', target='_blank') Core API&nbsp;
          | which has the core functionalities like databases, account and manga handling and more, and the&nbsp;
          a.color-Ts-dark(href='https://github.com/Rafase282/mangadb-front', target='_blank') Client's App.&nbsp;
          | which is what you can see and interact with.
          | Created and designed by&nbsp;
          a.color-Ts-dark(href='https://gitter.im/Rafase282', target='_blank') Rafase282
          | &nbsp;using&nbsp;
          a.color-Ts-dark(href='http://materializecss.com/', target='_blank') Materialize&nbsp
          | Project's chatroom via gitter at&nbsp
          a.color-Ts-dark(href='https://gitter.im/Rafase282/Mangadb', target='_blank') MangaDB&nbsp
        p.color-Ts
          | Pull request are with improvements or new features are welcome but the author reserves the rights to accept or reject at will.&nbsp;
          | If you encounter an issue with the way the page is displayed, forms or anything UX related please open an issue on the&nbsp;
          a.color-Ts-dark(href='https://github.com/Rafase282/mangadb-front/issues', target='_blank') Client's Issue Tracker.&nbsp;
          | For issues with the
          | functionality such as account problems, manga issues then use the&nbsp;
          a.color-Ts-dark(href='https://github.com/Rafase282/mangadb/issues', target='_blank') API's Issue Tracker.
      .col.l4.offset-l2.s12
        h5.color-Ts Contact Me
        .col.s6
          ul.color-Ts
            li
              a(href='mailto:rafase282@gmail.com')
                i.fa.fa-envelope.fa-fw
              | &nbsp;E-Mail
            li
              a(href='https://github.com/Rafase282', target='_blank')
                i.fa.fa-github.fa-fw
              | &nbsp;Github
            li
              a(href='https://www.linkedin.com/in/rafase282', target='_blank')
                i.fa.fa-linkedin
              | &nbsp;LinkedIn
        .col.s6
          ul.color-Ts
            li
              a(href='http://codepen.io/Rafase282', target='_blank')
                i.fa.fa-codepen
              | &nbsp;Codepen
            li
              a(href='https://rafase282.wordpress.com/', target='_blank')
                i.fa.fa-wordpress
              | &nbsp;Wordpress
            li
              a(href='http://www.freecodecamp.com/rafase282', target='_blank')
                i.fa.fa-free-code-camp
              | &nbsp;FreeCodeCamp
  .footer-copyright
    .container.center-align
      | Copyright ©&nbsp;
      a.color-Ts-dark(href='http://rafase282.github.io/') Rafael J. Rodriguez&nbsp;
      | 2016. All Rights Reserved
