extends layout

.container
  if messages.error
    .alert.alert-danger
      div= messages.error
  if messages.info
    .alert.alert-info
      div= messages.info
  if messages.success
    .alert.alert-success
      div= messages.success
  block content
      form(method='POST')
        legend Forgot Password
        .form-group
          label(for='email') Email
          input.form-control(type='text', name='email', autofocus)
        button.btn.btn-primary(type='submit') Reset Password
    