extends layout
block content
  .container
    h1.center-align Password Recovery
    form(role='form', method='POST', name='forgot', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
      .input-field
        i.material-icons.prefix contact_mail
        input#icon_prefix.validate(type='email', name='email' aria-describedby='basic-addon1', autocomplete='off' required)
        label(for='icon_prefix') E-mail
      .center-align
        button.btn.blue.darken-1(type='submit') Reset Password