extends layout
block content
  main.container
    h1.center-align Password Recovery
    form(role='form', method='POST', name='forgot', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
      .input-field
        i.material-icons.prefix.blueIcon email
        input#email.validate(type='email', name='email', aria-describedby='basic-addon1', autocomplete='off', required)
        label.left-align(for='email') E-mail
      .center-align
        button.btn.blue.darken-1(type='submit') Reset Password