head
  meta(charset='UTF-8')
  title #{title}
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='description', content='Save your Manga info')
  meta(name='author', content='Rafase282')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/images/favicon.ico')
  link(rel='apple-touch-icon', href='/images/favicon.ico')
  link(rel='stylesheet prefetch', href='/stylesheets/normalize-5.0.0.min.css')
  link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet prefetch', href='/stylesheets/materialize-0.97.7.min.css')
  link(rel='stylesheet prefetch', href='/stylesheets/font-awesome-4.7.0.min.css')
  link(rel='stylesheet prefetch', href='/stylesheets/main.min.css')
  script(type='text/javascript').
    var token = '#{token}';
    var user = '#{user}';
    var api = '#{api}';
