extends layout
block content
    main
        section.container.center-text.transparent
            h2 MangaDB
            h3 Track your personal manga collection.
            if !user
                a.waves-effect.blue.darken-2.btn(type='button', onclick="window.location.href='/signup'") Create account
            section#push
        section.main.opacity
            section.container.center-text
                .row
                    .col.s4
                        i.fa.fa-bolt.fa-5x
                        h3 Quick Access
                        p
                            | Because you can never keep track of which manga you have read or are reading online, this site will help you keep track and have quick access to the manga you add to your collection. No more forgetting or having to keep bookmarks!
                    .col.s4
                        i.fa.fa-globe.fa-5x
                        h3 Site Agnostic
                        p
                            | While no manga is hosted here, you can read the physical copy or read the manga online. You are able to keep links to a manga series from any popular sites, which means you
                            | can have manga from different sites kept on your personal collection.
                    .col.s4
                        i.fa.fa-twitter.fa-5x
                        h3 Share with friends
                        p
                            | Do you feel like sharing a particular manga that you are keeping track with some friends? You can quickly share with a link via twitter.
            section#push
