doctype html
html
  head
    meta(charset='UTF-8')
    title #{title}
    //
      Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Save your Manga info')
    meta(name='author', content='Rafase282')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
    link(rel='shortcut icon', href='../images/favicon.ico')
    link(rel='apple-touch-icon', href='../images/favicon.ico')
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
      // Navigation bar, collapses and everything
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          if user
            a.navbar-brand(href='#{url}') #{user}
          else
            a.navbar-brand MangaDB
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/logout')
                  span.glyphicon.glyphicon-log-out
                  |  Logout
            else
              li
                a(href='/signup')
                  span.glyphicon.glyphicon-user
                  |  Sign Up
              li
                a(href='/login')
                  span#btn-hide.glyphicon.glyphicon-log-in
                  |  Login
    block content
        // Footer
    footer
      p Copyright © Rafael J. Rodriguez 2016. All Rights Reserved
      p
        a(href='mailto:rafase282@gmail.com')
          i.fa.fa-envelope.fa-fw
        a(href='https://github.com/Rafase282', target='_blank')
          i.fa.fa-github.fa-fw
        a(href='https://www.linkedin.com/in/rafase282', target='_blank') 
          i.fa.fa-linkedin
        a(href='http://codepen.io/Rafase282', target='_blank') 
          i.fa.fa-codepen
        a(href='https://rafase282.wordpress.com/', target='_blank') 
          i.fa.fa-wordpress
        a(href='http://www.freecodecamp.com/rafase282', target='_blank') 
          | (
          i.fa.fa-fire.fa-fw
          | )
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js', data-no-instant='')
    script(data-no-instant='').
      InstantClick.init();
    script(src='../javascripts/index.js')