extends layout
block content
  body
    section.area
      .container-fluid
        .row
          .col-sm-4.col-xs-1
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#all') All Mangas
              li
                a(data-toggle='tab', href='#current') Currently Reading
              li
                a(data-toggle='tab', href='#done') Done Reading
              li
                a(data-toggle='tab', href='#willread') Will Read
            .tab-content
              form.search-form(action='')
                .form-group.has-feedback
                  label.sr-only(for='search') Search
                  input#search.form-control(type='text', name='search', placeholder='search')
                  span.glyphicon.glyphicon-search.form-control-feedback
              #all.tab-pane.fade.in.active
                h3.center-text All Mangas
                div
                  ul.list
              #current.tab-pane.fade
                h3.center-text Currently Reading
                div
                  ul.list2
              #done.tab-pane.fade
                h3.center-text Done Reading
                div
                  ul.list3
              #willread.tab-pane.fade
                h3.center-text Will Read
                div
                  ul.list4
    .area.main
      h1 Welcome #{user}
      br
      br
      input(type='submit', value='Clear', onclick='clean()')
      br
      br
      |  Manga Name:
      input#manga(type='text', name='manga', value='Terra Formars')
      input(type='submit', value='List All Mangas', onclick='getManga()')
      input(type='submit', value='Find Manga by Title', onclick='findManga()')
      input(type='submit', value='Increase Chapter', onclick='oneUp()')
      input(type='submit', value='Create New Manga', onclick="window.location.href='/new'")
      input(type='submit', value='Update Manga', onclick="window.location.href='/update'")
      input(type='submit', value='Delete Manga', onclick="window.location.href='/delete'")
      input(type='submit', value='Delete Account', onclick="window.location.href='/user/#{user}/delete'")
    section#manga-area.mangas
