extends layout
block content
    main.container
      #usermodal.modal.bottom-sheet
        .modal-content.color-Bp-light.color-Tp-light
          h4.center-align User Information
          .row
            .col.s12
              .card-panel.col.s12.m4
                .user-name
              .card-panel.col.s12.m4
                .user-email
              .card-panel.col.s12.m4
                .user-count
      .fixed-action-btn.vertical(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.color-Bp-light
            i.large.material-icons mode_edit
          ul
            li
              a.tooltipped.btn-floating.green(data-position='left', data-delay='50', data-tooltip='New Manga', href='/user/'+username+'/new')
                i.material-icons add
            li
              a.tooltipped.btn-floating.blue(data-position='left', data-delay='50', data-tooltip='Update Account Information', href='/user/'+username+'/update')
                i.material-icons update
            li
              a.tooltipped.btn-floating.red(data-position='left', data-delay='50', data-tooltip='Delete Account', href='/user/'+username+'/delete')
                i.material-icons delete
            li
              a.tooltipped.btn-floating.orange(data-position='left', data-delay='50', data-tooltip='Delete All Mangas', href='/user/'+username+'/mangas/delete')
                i.material-icons delete_sweep
            li
              a.tooltipped.btn-floating.yellow.modal-trigger(href='#usermodal', data-position='left', data-delay='50', data-tooltip='Display User Information')
                i.material-icons person
      section.color-Tp-light
        .container
          .row
            .col-xs-12
              ul.tabs
                li.tab.col.s12.m6.l3.active
                  a.center-align.blue-text(data-toggle='tab', href='#all') All Mangas
                li.tab.col.s12.m6.l3
                  a.center-align.blue-text(data-toggle='tab', href='#current') Currently Reading
                li.tab.col.s12.m6.l3
                  a.center-align.blue-text(data-toggle='tab', href='#done') Done Reading
                li.tab.col.s12.m6.l3
                  a.center-align.blue-text(data-toggle='tab', href='#willread') Will Read
              .tab-content
                form(action)
                  .input-field.col.s12
                    i.material-icons.prefix search
                    input#search(type='text', name='search', placeholder='Search for your Manga')
                #all.active
                  h1.center-align All Mangas
                  br
                  .row
                    .list
                #current
                  h1.center-align Currently Reading
                  br
                  .row
                    .list2
                #done
                  h1.center-align Done Reading
                  br
                  .row
                    .list3
                #willread
                  h1.center-align Will Read Soon
                  br
                  .row
                    .list4
      section.push
