extends layout
block content
    .area.main
      h1 #{user} Control Panel
      br
      .container-fluid
        .row
          .col-xs-12
            span#basic-addon1.input-group-addon
              span.glyphicon.glyphicon-book.col-xs-12
            span#basic-addon1.input-group-addon
              span.glyphicon.glyphicon-refresh.col-xs-12
            span#basic-addon1.input-group-addon
              span.glyphicon.glyphicon-trash.col-xs-12
        .row
          .col-xs-12
            input.col-xs-12.col-sm-4(type='submit', value='Create New Manga', onclick="window.location.href='/user/#{username}/new'")
            input.col-xs-12.col-sm-4(type='submit', value='Update Profile', onclick="window.location.href='/user/#{username}/update'")
            input.col-xs-12.col-sm-4(type='submit', value='Delete Account', onclick="window.location.href='/user/#{username}/delete'")
      br
      br
      section
        .container-fluid
          .row
            .col-xs-12
              ul.nav.nav-tabs
                li.col-xs-12.col-sm-6.col-md-3.active
                  a.center-text(data-toggle='tab', href='#all') All Mangas
                li.col-xs-12.col-sm-6.col-md-3
                  a.center-text(data-toggle='tab', href='#current') Currently Reading
                li.col-xs-12.col-sm-6.col-md-3
                  a.center-text(data-toggle='tab', href='#done') Done Reading
                li.col-xs-12.col-sm-6.col-md-3
                  a.center-text(data-toggle='tab', href='#willread') Will Read
              .tab-content
                form.search-form.clearfix(action='')
                  .form-group.has-feedback
                    label.sr-only(for='search') Search
                    input#search.form-control(type='text', name='search', placeholder='Search for your Manga')
                    span.glyphicon.glyphicon-search.form-control-feedback
                #all.tab-pane.fade.in.active
                  h1.center-text All Mangas
                  br
                  div
                    ul.list
                #current.tab-pane.fade
                  h1.center-text Currently Reading
                  br
                  div
                    ul.list2
                #done.tab-pane.fade
                  h1.center-text Done Reading
                  br
                  div
                    ul.list3
                #willread.tab-pane.fade
                  h1.center-text Will Read Soon
                  br
                  div
                    ul.list4
    section#push
