extends layout
block content
    main.container
      h1.center-align.blue-text #{user} Control Panel
      br
      #modal1.modal
        .modal-content
          h4 Modal Header
          p A bunch of text
        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
      .fixed-action-btn.vertical(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.light-blue.darken-1
            i.large.material-icons mode_edit
          ul
            li
              a.tooltipped.btn-floating.green(data-position='left', data-delay='50', data-tooltip='New Manga', href='/user/#{username}/new')
                i.material-icons add
            li
              a.tooltipped.btn-floating.deep-purple.darken-4(data-position='left', data-delay='50', data-tooltip='Update Account Information', href='/user/#{username}/update')
                i.material-icons update
            li
              a.tooltipped.btn-floating.red(data-position='left', data-delay='50', data-tooltip='Delete Account', href='/user/#{username}/delete')
                i.material-icons delete_sweep
            li
              a.tooltipped.btn-floating.yellow.darken-3.modal-trigger(href='#usermodal', data-position='left', data-delay='50', data-tooltip='Display User Information')
                i.material-icons person
      section.blue-text
        .container
          .row
            .col-xs-12
              ul.tabs
                li.tab.col.s12.m6.l3.active
                  a.center-align.blue-text(data-toggle='tab', href='#all') All Mangas
                li.tab.col.s12.m6.l3
                  a.center-align.blue-text(data-toggle='tab', href='#current') Currently Reading
                li.tab.col.s12.m6.l3
                  a.center-align.blue-text(data-toggle='tab', href='#done') Done Reading
                li.tab.col.s12.m6.l3
                  a.center-align.blue-text(data-toggle='tab', href='#willread') Will Read
              .tab-content
                form(action)
                  .input-field.col.s12
                    i.material-icons.prefix.blueIcon search
                    input.validate#search(type='text', name='search', placeholder='Search for your Manga')
                #all.active
                  h1.center-align All Mangas
                  br
                  div
                    .list
                #current
                  h1.center-align Currently Reading
                  br
                  div
                    .list2
                #done
                  h1.center-align Done Reading
                  br
                  div
                    .list3
                #willread
                  h1.center-align Will Read Soon
                  br
                  div
                    .list4
      section#push
