extends layout
block content
    main.container
      h1.center-align #{user} Control Panel
      br
      .container
        a.waves-effect.waves-light.btn.modal-trigger.blue.darken-1(href='#usermodal') User Information
        #usermodal.modal.bottom-sheet
          .modal-content
            h4 Personal Information
            p A bunch of text
          .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
        .row
          .col.s12
            .card-panel.blue
              span.white-text
                .user-name
                .user-email
        .fixed-action-btn.vertical(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.light-blue.darken-4
            i.large.material-icons mode_edit
          ul
            li
              a.tooltipped.btn-floating.green(data-position='left', data-delay='50', data-tooltip='New Manga', href='/user/#{username}/new')
                i.material-icons add
            li
              a.tooltipped.btn-floating.blue.darken-1(data-position='left', data-delay='50', data-tooltip='Update Account Information', href='/user/#{username}/update')
                i.material-icons update
            li
              a.tooltipped.btn-floating.red(data-position='left', data-delay='50', data-tooltip='Delete Account', href='/user/#{username}/delete')
                i.material-icons delete_sweep
      br
      br
      section
        .container
          .row
            .col-xs-12
              ul.nav.nav-tabs
                li.col-xs-12.col-sm-6.col-md-3.active
                  a.center-text(data-toggle='tab', href='#all') All Mangas
                li.col-xs-12.col-sm-6.col-md-3
                  a.center-text(data-toggle='tab', href='#current') Currently Reading
                li.col-xs-12.col-sm-6.col-md-3
                  a.center-text(data-toggle='tab', href='#done') Done Reading
                li.col-xs-12.col-sm-6.col-md-3
                  a.center-text(data-toggle='tab', href='#willread') Will Read
              .tab-content
                form.search-form.clearfix(action='')
                  .form-group.has-feedback
                    label.sr-only(for='search') Search
                    input#search.form-control(type='text', name='search', placeholder='Search for your Manga')
                    span.glyphicon.glyphicon-search.form-control-feedback
                #all.tab-pane.fade.in.active
                  h1.center-text All Mangas
                  br
                  div
                    ul.list
                #current.tab-pane.fade
                  h1.center-text Currently Reading
                  br
                  div
                    ul.list2
                #done.tab-pane.fade
                  h1.center-text Done Reading
                  br
                  div
                    ul.list3
                #willread.tab-pane.fade
                  h1.center-text Will Read Soon
                  br
                  div
                    ul.list4
    section#push
