extends layout
block content
  main.container
    h1.center-align Password Reset
    form(role='form', method='POST', name='reset', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
      .row
        .input-field.col.s12.m6
          i.material-icons.prefix.color-Tp-light lock
          input#password.validate(type='password', name='password', aria-describedby='basic-addon2', autocomplete='off', required)
          label(for='password') Password
        .input-field.col.s12.m6
          i.material-icons.prefix.color-Tp-light lock
          input#password2.validate(type='password', name='password2', aria-describedby='basic-addon2', autocomplete='off', required)
          label(for='password2') Re-type Password
      .center-align
        button.btn.color-Bp-light(type='submit') Update Password