script(src='/javascripts/jquery-3.1.1.min.js')
script(src='/javascripts/materialize-0.97.8.min.js')
script(src='/javascripts/underscore.string-3.3.4.min.js')
script(src='/javascripts/instantclick-3.1.0.min.js', data-no-instant)
script(data-no-instant).
  InstantClick.init();
script(src='/javascripts/index3.js')
script(src='/javascripts/index2.js')
script(src='/javascripts/index.js')
