extends layout
block content
      .form.main
        h1 Register
        form(role='form', method='POST', name='signup', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-tags
              input.form-control(type='text', name='firstname', placeholder='First Name *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-tags
              input.form-control(type='text', name='lastname', placeholder='Last Name *', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-user
              input.form-control(type='text', name='username', placeholder='Username *', aria-describedby='basic-addon1')
              span#basic-addon1.input-group-addon
                span.glyphicon.glyphicon-envelope
              input.form-control(type='text', name='email', placeholder='E-Mail *', aria-describedby='basic-addon1')
          .field-wrap
            .form-group.input-group
              span#basic-addon2.input-group-addon
                span.glyphicon.glyphicon-lock
              input.form-control(type='password', name='password', placeholder='Password *', aria-describedby='basic-addon2', autocomplete='off')
              span#basic-addon2.input-group-addon
                span.glyphicon.glyphicon-lock
              input.form-control(type='password', name='password2', placeholder='Comfirm Password *', aria-describedby='basic-addon2', ,='', autocomplete='off')
          button.button.button-block.btn.btn-danger(type='button') Register