extends layout
block content
      // The form stuff
      .form.main
        ul.tab-group
          li.tab.active
            a(href='#signup') Sign Up
        .tab-content
          #signup
            h1 Sign Up for Free
            form(action='/signup', method='POST', name='signUp', accept-charset='UTF-8', enctype='application/x-www-form-urlencoded', autocomplete='off')
              .top-row
                .field-wrap
                  label
                    | First Name
                    span.req *
                  input(type='text', name='firstname', required='', autocomplete='off')
                .field-wrap
                  label
                    | Last Name
                    span.req *
                  input(type='text', name='lastname', required='', autocomplete='off')
              .top-row
                .field-wrap
                  label
                    | Username
                    span.req *
                  input(type='text', name='username', required='', autocomplete='off')
                .field-wrap
                  label
                    | Email Address
                    span.req *
                  input(type='email', name='email', required='', autocomplete='off')
              .top-row
                .field-wrap
                  label
                    | Set A Password
                    span.req *
                  input(type='password', name='password', required='', autocomplete='off')
                .field-wrap
                  label
                    | Re-type A Password
                    span.req *
                  input(type='password', name='password2', required='', autocomplete='off')
              button.button.button-block(type='submit') Get Started
        // tab-content
      // /form