.color-Bp, .color-Bp:hover, .color-Bp:active {
  background-color: #01579b !important; }

.color-Bp-light, .color-Bp-light:hover, .color-Bp-light:active {
  background-color: #1e88e5 !important; }

.color-Tp {
  color: #01579b !important; }

.color-Ts {
  color: #ffffff !important; }

.color-Ts-dark {
  color: #bdbdbd !important; }

.color-Tp-light {
  color: #1e88e5 !important; }

.ErrColor {
  background-color: #b71c1c !important; }

.InfoColor {
  background-color: #1e88e5 !important; }

.SuccColor {
  background-color: #43a047 !important; }

.brand-logo {
  margin-left: 20px; }

.flash-msg {
  opacity: 0.9; }

#quick {
  color: #1e88e5; }

#site {
  color: #1e88e5; }

#secured {
  color: #1e88e5; }

.bold {
  display: inline-block;
  margin: 0;
  font-weight: 700; }

#img {
  width: 20em;
  height: 20em; }

.thumbnail {
  max-height: 80%;
  max-width: 50%;
  margin: auto; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Roboto", sans-serif; }

main {
  flex: 1 0 auto; }

.push {
  padding-bottom: 50px; }

input:focus {
  border-bottom: 1px solid #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important; }

input:focus:not([readonly]) + label {
  color: #01579b !important; }

.input-field .prefix.active {
  color: #01579b !important; }

.tabs .indicator {
  background-color: #1e88e5 !important; }
#01579b !important; }

.tabs .indicator {
  background-color: #1e88e5 !important; }
