html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif; }

.err:after {
  background-image: url(../images/kaneki1.jpg);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.main:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/kaneki.jpg);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.main {
  padding-top: 25px;
  margin-top: 20px; }

.main h1 {
  margin-top: 0; }

footer {
  background-color: #222222;
  color: LightGray;
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif; }

.navbar {
  position: relative; }

.center-text {
  text-align: center; }

.fa-bolt {
  color: Yellow; }

.fa-globe {
  color: Green; }

.fa-twitter {
  color: LightSkyBlue; }

a {
  color: #c83636; }

.jumbotron {
  position: relative;
  padding-top: 5px;
  padding-bottom: 25px; }

#push {
  padding-bottom: 50px; }

.opacity {
  background: rgba(0, 0, 25, 0.7);
  color: LightGray; }

.transparent {
  background: rgba(200, 54, 54, 0);
  color: #c83636; }

/* TABLE STYLE */
.area {
  background: rgba(19, 35, 47, 0.9);
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color: white; }

.manga-panel {
  background-color: Gray;
  opacity: 0.9;
  margin: 10px auto;
  border-radius: 25px; }

.thumbnail {
  width: 150px;
  margin-left: 4%; }

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ccc;
  border: none; }

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #fff; }

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #f0f0f0; }

.tg .tg-yw4l {
  vertical-align: top; }

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important; }
  .tg col {
    width: auto !important; }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }

/* FORMS STYLES */
a {
  text-decoration: none;
  color: #c83636;
  transition: .5s ease; }
  a:hover {
    color: #b43131; }

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 10% auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }

.tab-group {
  list-style: nonez;
  padding: 0;
  margin: 0 0 40px 0; }
  .tab-group:after {
    content: "";
    display: table;
    clear: both; }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 80%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease; }
    .tab-group li a:hover {
      background: #b43131;
      color: white; }
  .tab-group .active a {
    background: #c83636;
    color: white; }

h4 {
  color: white; }

h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0 0 40px; }

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: white;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease; }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #c83636; }

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical; }

.field-wrap {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }
  .top-row > div:last-child {
    margin: 0; }

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #c83636;
  color: white;
  transition: all 0.5s ease;
  -webkit-appearance: none; }
  .button:hover, .button:focus {
    background: #b43131; }

.button-block {
  display: block;
  width: 100%; }

.forgot {
  margin-top: -20px;
  text-align: right; }

/* TABS STYLES */
.list {
  list-style: none;
  padding: 0; }

.list div {
  display: list-item; }

section a {
  color: red; }

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: 8px 0 0 0; }

.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block; }

.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none; }

.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none; }

.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none; }

.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none; }

.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px; }

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px; }

td {
  overflow: hidden;
  word-break: normal; }

#plot {
  margin-left: 1%; }

.img-container {
  height: 400;
  width: 100%; }

#img {
  display: block;
  margin: 0 auto; }

ul {
  color: white; }
